# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Spark
# =========================
metastore_db/
spark-warehouse/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.tar
docker-compose.override.yml

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Mac / Linux
# =========================
*.swp
